# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=blog-backend
DB_SYNCHRONIZE=false
DB_LOGGING=true

# Application
NODE_ENV=development
APP_PORT=3000
APP_NAME=blog-backend

# Auth / JWT
JWT_SECRET=change_this_global_secret
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_OTP_SECRET=
COOKIE_SECURE=false

# Optional Auth URLs
AUTH_REGISTER_REDIRECT_URL=/auth/register

# CORS
CORS_ORIGINS=http://localhost:3000

# TypeORM
TYPEORM_MIGRATIONS_DIR=./src/database/migrations
TYPEORM_MIGRATIONS_TABLE_NAME=migrations
TYPEORM_SEEDERS_DIR=./src/database/seeders
